<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ form.non_field_errors }}
    <form id="form" action="cars" method="POST">
        {% csrf_token %}
        {{ form.number.errors }}
        <input name="number" value="{{ form.data.number }}">
        {{ form.mark.errors }}
        <input name="mark" value="{{ form.data.mark }}">
        {{ form.model.errors }}
        <input name="model" value="{{ form.data.model }}">
        <button type="submit">Create</button>
    </form>
<script>
    <!--$.ajax({-->
        <!--headers: {-->
            <!--'X-CSRF-Token': $('input[name=csrfmiddlewaretoken]').val()-->
        <!--},-->

        <!--url: 'http://127.0.0.1:8000/cars',-->
        <!--type: 'POST',-->
        <!--data: {-->
            <!--number: '',-->
            <!--mark: '',-->
            <!--model: '',-->
            <!--csrfmiddlewaretoken: '{{ csrf_token }}'-->
        <!--},-->
        <!--success: function(data) {-->
            <!--var response = $.parseJSON(data)-->
            <!--console.log(1)-->
        <!--},-->
        <!--error: function(e) {-->
            <!--console.log(2)-->
        <!--}-->
    <!--})-->
</script>
</body>
</html>