{% extends 'base.html' %}

{% block content %}

    {{ form.non_field_errors }}
    <form method="POST" action="{% url 'car-update' car.pk %}">
        {% csrf_token %}
        {{ form.number.errors }}
        <input type="text" name="number" value="{{ object.number }}">
        {{ form.mark.errors }}
        <input type="text" name="mark" value="{{ object.mark }}">
        {{ form.model.errors }}
        <input type="text" name="model" value="{{ object.model }}">
        <button type="submit">Обновить</button>
    </form>

{% endblock content %}