{% extends 'base.html' %}

{% block content %}

    {{ form.non_field_errors }}
    <form id="form" action="{% url 'car-create' %}" method="POST">
        {% csrf_token %}
        {{ form.number.errors }}
        <input name="number" value="{{ form.data.number }}">
        {{ form.mark.errors }}
        <input name="mark" value="{{ form.data.mark }}">
        {{ form.model.errors }}
        <input name="model" value="{{ form.data.model }}">
        <button type="submit">Создать</button>
    </form>

{% endblock content %}
